body {
  font-family: sans-serif;
  padding-top: 1em;
}

h1 {
  color: #b80;
  font-variant: small-caps;
  margin: 0px 0px 8px 0px;
}

h2 {
  color: black;
  font-variant: small-caps;
  margin: 0px 0px 8px 0px;
}

.row {
  margin: 8px 0px 8px 0px;
}

.dim {
  color: #999;
}

.hiddencode {
  display: none;
  font-size: small;
}

.titletopper {
  margin: 0px;
  padding: 0px;
  color: #b80;
  font-variant: small-caps;
  font-weight: bold;
}

#colinlinks {
  padding: 6px;
}

#colinlinks p {
  margin: 0px;
}

.leftheader label,
.leftheader strong{
  vertical-align: text-top;
}